  <div><details>
    <summary role="button" aria-controls="details-content-0" tabindex="0" aria-expanded="true" style="padding-top:0.7em">
      <span class="summary">Don't have any of these documents to tax your vehicle with?</span>
    </summary>

    <div class="panel-indent" id="details-content-0" aria-hidden="false" style="display:block;">
    
    <!-- <h2 class="heading-medium" style="margin-top:0.75em">Other ways to apply</h2>

    <h2 class="heading-small" style="margin-top:0.75em">By phone</h2>

    <ul class="contact-numbers">
    <li><span class="contact-type">Telephone:</span> 0300 123 4321</li>
    <li><span class="contact-type">Textphone:</span> 0300 790 6201</li>
    </ul>

    <div class="call-charges">
      <p>Calls to 03 numbers cost approximately:</p>
      <ul class="charges">
      <li>2p to 10p from landlines</li>
      <li>10p to 40p from mobile phones</li>
      </ul>
      <p><a href="/call-charges">Find out more about call charges</a></p>
    </div>

    <h2 class="heading-small" style="">At the Post Office</h2>

    <p>Go to your local Post Office that deals with vehicle tax. You'll need to take:</p>

    <ul class="list-bullet">
      <li>completed V11 reminder (or your V5C)</li>
      <li>MOT test certificate if required (must be valid when the tax starts)</li>
      <li>the payment shown on the reminder</li>
    </ul>

    <p>In <a href="#">Northern Ireland</a> you'll also need an insurance certificate or cover note.</p>

    -->



    <p><span class="heading-small">
    Get a V5C vehicle registration certificate (log book)</span><br>

    If you have lost the V5C with your name on, <a href="https://www.gov.uk/vehicle-registration-certificate-v5c-log-book">you can get a replacement by filling in a V62 form</a>.
    

    </p>


    <p>
      
    </div>
  </details></div>