<div class="header-proposition">
  <div class="content">
    <!-- <a href="#proposition-links" class="js-header-toggle menu">Menu</a> -->
    <nav id="proposition-menu">
      <!-- <a href="/" id="proposition-name">Transfer a vehicle into the motor trade</a> -->
      <!-- <ul id="proposition-links">
        <li><a href="url-to-page-1" class="active">Navigation item #1</a></li>
        <li><a href="url-to-page-2">Navigation item #2</a></li> -->
		  <img src="/public/images/govuk-startpage-search-box.png" width="299" height="35" align="right">
    </nav>
  </div>
</div>


