// Import GOV.UK elements, this will import the frontend toolkit and some base styles.
// Take a look at elements.scss to see which files are imported.
@import 'elements';

// Set up your main content area <main id="content">
// This will give you a full width content block
// See elements _layout.scss line 7.

// If you need it, set up your grid layout - refer to the grid layout usage example
// See elements _layout.scss line 28.

// If you need a phase banner, put this inside the main content area
// See elements _layout.scss line 22.
.alpha-banner  {
  @include phase-banner(alpha); // Change this to (beta) for a beta banner
}
.alpha-tag {
  @include phase-tag(alpha); // Change this to (beta) for a beta tag
}

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you,
// either add and import new partial files, or modify those in GOV.UK elements to fit your user needs.



strong {
  font-weight:700;
}



/* Back from Register to Vote */
/* - - - - - - - - - - - - - - - - - -  */

.back-to-previous {
font-family: "nta", Arial, sans-serif;
font-size: 16px;
line-height: 1.25;
font-weight: 300;
text-transform: none;
display: block;
position: static;
text-decoration: none;
border-bottom: #0b0c0c 1px solid;
width: 2.25em;
background: url("/public/images/icon-caret-left.png") left 0.2em no-repeat;
padding-left: 0.75em;
text-align: right;
margin: 2em 0 0 0;
overflow: hidden
}

@media (max-width: 640px){.back-to-previous {
  font-size: 14px;
  line-height: 1.14286
}
}

form .back-to-previous {
position: absolute;
margin: 0
}

article .back-to-previous {
margin: 0
}

@media (max-width: 640px){.back-to-previous {
  font-size: 16px
}
}

a.back-to-previous, a.back-to-previous:active, a.back-to-previous:hover,
a.back-to-previous:focus {
color: #0b0c0c
}




/* Breadcrumbs across top bar */
/* - - - - - - - - - - - - -  */

.breadcrumb {
  list-style-type: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
  background: white;
  padding: 1em 2em 0 2em; }

.breadcrumb li {
  display: inline-block;
  margin: 0;
  padding: 0; }

#global-breadcrumb {
  padding: 0.75em 0;
  margin: 0 1em 0 0;
  z-index: 50;
  background-color: #fff; }

@media (min-width: 769px) {
  #global-breadcrumb {
    margin: 0 2em 0 0; } }

#global-breadcrumb nav {
  max-width: 960px;
  margin: 0 auto;
  padding: 0;
  border: none; }

#global-breadcrumb nav ol {
  margin: 0;
  padding-left: 0; }

#global-breadcrumb nav ol li {
  font-family: "nta", Arial, sans-serif;
  font-size: 15px;
  line-height: 1.25;
  font-weight: 300;
  text-transform: none;
  background-image: url('/public/images/separator.png');
  background-position: 100% 50%;
  background-repeat: no-repeat;
  float: left;
  list-style: none;
  margin-left: 0;
  margin-right: 0.5em;
  padding-right: 1em; }

@media (max-width: 640px) {
  #global-breadcrumb nav ol li {
    font-size: 1.4rem;
    line-height: 1.14286; } }

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20/10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  #global-breadcrumb nav ol li {
    background-image: url('/public/images/separator-2x.png');
    background-size: 6px 11px; } }

#global-breadcrumb nav ol li a {
  color: #0b0c0c; }

#global-breadcrumb nav ol li strong {
  font-weight: normal; }

#global-breadcrumb nav ol li:last-child {
  background-image: none;
  margin-right: 0; }

#global-breadcrumb, .page-header {
  margin-left: 0;
  margin-right: 15px; }

@media (min-width: 641px) {
  #global-breadcrumb, .page-header {
    margin-left: 0;
    margin-right: 30px; } }

#global-breadcrumb li {
  margin-bottom: 0; }






/* * * * * from EVL * * * * * */
/*Start of Tab Breadcrumb styles*/
nav.progress-indicator {
  padding-left: 0.5em;
  border-top: 1px solid #dee0e2;
  border-bottom: 3px solid #dee0e2;
  margin: 0em -1em 0em -1em; }
  nav.progress-indicator ol {
    list-style-type: decimal;
    list-style-position: inside;
    margin: 0;
    padding: 0;
    margin-bottom: -3px; }
    @media (max-width: 640px) {
      nav.progress-indicator ol {
      display: none;
        margin: 0.5em 0; } }
  nav.progress-indicator li {
    white-space: nowrap;
    float: left;
    margin: 0 0.5em;
    padding: 0.75em 0; }
    @media (min-width: 641px) {
      nav.progress-indicator li.active {
        border-bottom: 3px solid #28a197;
        position: relative;
        top: 3px;
        margin-top: -3px; } }
    @media (max-width: 640px) {
      nav.progress-indicator li.active {
        border: 0;
        font-weight: bold;
        color: #28a197; } }
    @media (max-width: 900px) {
      nav.progress-indicator li {
        font-size: 100%; } }
    @media (max-width: 866px) {
      nav.progress-indicator li {
        font-size: 90%; } }
    @media (max-width: 780px) {
      nav.progress-indicator li {
        font-size: 80%; } }
    @media (max-width: 700px) {
      nav.progress-indicator li {
        font-size: 70%; } }
    @media (max-width: 640px) {
      nav.progress-indicator li {
        width: 75%;
        padding: 0.25em; } }

/*End of Tab Breadcrumb styles*/






/* * * * * * * * * * * * * */
/* for fake EVL start page */

.top-tasks {
font-size:0.85em;
margin-top:2em;
}
.top-tasks li a, .top-tasks li {
text-decoration:none;
list-style-type:none;
margin-left:0;
padding-bottom:0.5em;
font-weight: 700;
}

.get-started .button {
font-size: 24px;
line-height: 0.66667;
font-weight: 700;
text-transform: none;
display: inline-block;

padding: 0.60em 1.7em 0.45em 0.67em;
background-image: url(/public/images/icon-pointer.png);
background-position: 100% 50%;
background-repeat: no-repeat;
}

#content.vehicle-tax-start span.beta {
    display: inline-block;
    background: #f47738;
    color: #fff;
    font-family: "nta", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.25;
    font-weight: 300;
    text-transform: none;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    padding: 5px 5px 2px 6px;
    vertical-align: middle;
    margin-right: 10px
}

@media (max-width: 640px) {
    #content.vehicle-tax-start span.beta {
        font-size: 14px;
        line-height: 1.14286
    }
}
#content.vehicle-tax-start .contact-numbers {
    padding-left: 0
}

#content.vehicle-tax-start .contact-numbers li {
    font-family: "nta", Arial, sans-serif;
    font-size: 24px;
    line-height: 1.25;
    font-weight: 400;
    text-transform: none;
    font-weight: 700;
    width: 100%;
    float: left;
    list-style: none;
    padding-left: 0;
    padding-bottom: 1em
}

@media (max-width: 640px) {
    #content.vehicle-tax-start .contact-numbers li {
        font-size: 20px;
        line-height: 1.2
    }
}

@media (min-width: 769px) {
    #content.vehicle-tax-start .contact-numbers li {
        width: 50%
    }
}

#content.vehicle-tax-start .contact-numbers .contact-type {
    font-family: "nta", Arial, sans-serif;
    font-size: 19px;
    line-height: 1.31579;
    font-weight: 400;
    text-transform: none;
    font-weight: 400;
    display: block
}

@media (max-width: 640px) {
    #content.vehicle-tax-start .contact-numbers .contact-type {
        font-size: 16px;
        line-height: 1.25
    }
}

#content.vehicle-tax-start .call-charges p {
    font-family: "nta", Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857;
    font-weight: 400;
    text-transform: none;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 0
}

@media (max-width: 640px) {
    #content.vehicle-tax-start .call-charges p {
        font-size: 12px;
        line-height: 1.25
    }
}

#content.vehicle-tax-start .call-charges ul {
    list-style: none;
    padding: 0;
    margin: 0
}

#content.vehicle-tax-start .call-charges ul li {
    font-family: "nta", Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857;
    font-weight: 400;
    text-transform: none;
    padding-left: 0;
    margin-left: 0
}

@media (max-width: 640px) {
    #content.vehicle-tax-start .call-charges ul li {
        font-size: 12px;
        line-height: 1.25
    }
}

#content.vehicle-tax-start form.get-started {
    margin-top: 0
}

#content.vehicle-tax-start .by-phone {
    margin-top: 20px
}

@media (min-width: 769px) {
    #content.vehicle-tax-start .by-phone {
        margin-top: 0
    }
}

#content.vehicle-tax-start .at-post-office {
    margin-top: 40px
}

@media (min-width: 769px) {
    #content.vehicle-tax-start .at-post-office {
        margin-top: 50px
    }
}

span.beta {
display: inline-block;
background: #f47738;
color: #fff;
font-family: "nta",Arial,sans-serif;
font-size: 16px;
line-height: 1.25;
font-weight: 300;
text-transform: none;
font-weight: 700;
line-height: 1;
text-transform: uppercase;
padding: 5px 5px 2px 6px;
vertical-align: middle;
margin-right: 10px;
margin-left: 10px;
}

.help-notice {
margin:1em 0 0 0;
padding-bottom:0.5em;
background: url("/public/images/icon-important.png") no-repeat scroll 0 0.5em;
}
.help-notice p {
  padding: 0.6em 0 0.1em 3em;
  font-weight:700;
  line-height:1.3;
}





.reg-mark {
font:28px uknumberplateregular;
background-color: #ffd307;
border: 0.13em solid #333;
padding: 0.33em 0.4em 0.33em 0.5em;
font-size: 140%;
border-radius: 0.25em;
}



/* Table/List for basic data */
/* - - - - - - - - - - - - - */

ul.ul-data {
  list-style-type: none;
  list-style-image: none;
  padding-left: 0;
  padding-top: 0.5em;
  margin-bottom: 0; }

@media (max-width: 640px) {
  ul.ul-data {
    margin-left: 0.3em;
    margin-right: 0; } }

ul.ul-data li {
  /* border-bottom: 1px solid #c6ccd1;*/
  display: -moz-inline-stack;
  display: inline-block;
  margin: 0;
  padding-bottom: 1em;
  width: 100%; }

ul.ul-data li:first-child {
  /*border-top: 1px solid #c6ccd1;*/
  padding-top: 5px; }

ul.ul-data li span:first-child {
  width: 27%;
  float: left;
  display: inline;
  display: -moz-inline-stack;
  display: inline-block; }

ul.ul-data li span:first-child:after {
  content: ":"; }

@media (max-width: 475px) {
  ul.ul-data li span {
    width: 100% !important; } }

ul.ul-data li strong {
  width: 60%;
  float: left;
  font-weight: 700;
  /*display: inline;*/
  display: -moz-inline-stack;
  display: inline-block; }

@media (max-width: 475px) {
  ul.ul-data li strong {
    width: 100% !important; } }

ul.ul-data li.mot-pass {
  border-left: solid green 3px;
  color: green;
  border-bottom: none;
  border-top: none;
  padding: 0.12em 0 0 1em;
  margin-bottom: 8px; }

ul.ul-data li.mot-fail {
  border-left: solid red 3px;
  color: red;
  border-bottom: none;
  border-top: none;
  padding: 0.12em 0 0 1em;
  margin-bottom: 8px; }

ul.ul-data li a {
  float: right;
  font-weight: 300;
  /*display: inline;*/
  display: -moz-inline-stack;
  display: inline-block; }

@media (max-width: 475px) {
  ul.ul-data li strong {
    width: 100% !important; } }

#evl-form strong {
  font-weight:700;
}

.input-large {
  font-size:1.4em;
  padding:0.2em;
}

select, .input-select {
display: block;
width: auto;
font-family: "nta",Arial,sans-serif;
line-height: 2;
padding: 3px;
margin:5px 0;
min-width: 150px;
max-width: 360px;
position: relative;
font-size: 1.1em;
padding-top: 2px;
background: #f0f0f0;
border: 2px #aaa solid;
float:left;
}

.input-short {
font-size:1.4em;
padding:0.2em;
width:6em;
}

.input-small {
width:3em;
}


.clearblock {
  border: none;
  background: none;
padding-top:0;
padding-left:30px;
padding-bottom:0;
}

.clearblock input {
  left:0;
top:0;
}



/** hover styles **/

.details-pane {
  display:none;
  z-index:5;
  position: absolute;
  top: 21em;
  left: 52%;
  background: #f6f6f6;
  border: 1px solid #333;
  width: 30%;
  padding: 0.75em
}
.hvrlink {
font-size:0.8em;
margin-left:1em;
}
.hvrlink:hover + .details-pane {
  display: block;
}



/** from Verify prototype  **/
/** fancy new radio buttons */

.selectable {
  display: block;
  position: relative;
  color: #0b0c0c;
  padding: 9px 12px 4px 42px;
  cursor: pointer; }
  .selectable em {
    display: block;
    color: #6f777b;
    font-style: normal; }
  .selectable input {
    position: absolute;
    left: 10px;
    top: 8px; }
  .selectable .fake-input {
    display: block;
    position: absolute;
    left: 4px;
    top: 4px;
    width: 20px;
    height: 20px;
    padding: 3px;
    border: 2px solid #0b0c0c;
    background: #fff; }
  .selectable .fake-input-radio {
    width: 18px;
    height: 18px;
    padding: 4px;
    border-radius: 20px; }
    .selectable .fake-input-radio .fake-input-inner {
      border-radius: 20px; }

label.selectable:hover {
  background-color: #ffbf47; }

.selectable.selected .fake-input-inner {
  display: block;
  width: 100%;
  height: 100%;
  background-image: url(/public/images/tick.png);
  background-size: cover; }
.selectable.selected .fake-input-radio .fake-input-inner {
  background: #0b0c0c; }



.vehicle-pic {
  width:3.5em;
  height:3.5em;
  border:2px black solid;
  padding:0.25em;
  margin:0.25em;
  float:left;
}
.vehicle-pic img {
  max-width:100%;
  height:auto;
  position: relative;
  top: 56%;
  transform: translateY(-44%);
}
.vehicle-pic sup {
font-weight: 700;
font-size:75%;
color:#a98;
position: absolute;
}



.form-pic {
  width:9.8em;
  height:8em;
  padding:0.25em 0.5em 0.25em 0;
  margin:0.33em 0.66em 0.33em 0;
  float:left;
}
.form-pic img {
  max-width:100%;
  height:auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.form-pic sup {
font-weight: 700;
font-size:75%;
color:#a98;
position: absolute;
}


.big-number {
  color: #005ea5;

}

.address-form-line {
  padding: 0.2em 0 0.8em 0;
}
.address-form-line input[type='text'] {
padding: 0.5em 0.2em 0.3em 0.5em;
}




.application-confirmation {
  text-align: center;
  padding: 1.5em 0 1.5em 0em;
  background: #28A297;
  color: White;
  margin: 0 0 1.5em 0; }
  @media (max-width: 640px) {
    .application-confirmation {
      margin: 1em 0 1.5em 0; } 
  }


.application-confirmation h1 {
  font-size:300%;
  padding: 0;
  margin: 0;
  font-weight: bold; }
  @media (max-width: 640px) {
    .application-confirmation h1 {
      font-size:150%; } 
  }

.application-confirmation h2 {
  font-size:130%;
  padding: 0;
  margin: 0;
  margin-top: 1em; }
  @media (max-width: 640px) {
    .application-confirmation h2 {
      font-size:100%; } 
  }