{{<govuk_template}}

{{$head}}
  {{>includes/elements_head}}

    <script type="text/javascript" src="/public/javascripts/jquery-1.11.0.min.js"></script>

    <script type="text/javascript" src="/public/javascripts/application.js"></script>

    <script type="text/javascript" src="/public/javascripts/selection-buttons.js"></script>


{{/head}}


{{$propositionHeader}}
  {{>includes/govuk_sornprop}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}


{{$content}}

<link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />


<main id="content" role="main">


  
  <div>
  <a class="back-to-previous" href="javascript:history.back()">Back <span class="visuallyhidden"> to the previous question</span></a>
  </div>

  <br clear="all">

  


  <form action="sorn-newkeeper" method="get" class="form">
  <input type="hidden" name="nextlink" value="sorn-vehicle-details">
  <input type="hidden" name="nextbacklink" value="evl-3-v5c2">


  <h1 class="form-title heading-large" style="margin:0 0 1em 0;padding:0">
    Tell us about taking a vehicle off the road (SORN)
  </h1>

  

  <label for="radio-inline-1" class="block-label" style="border-bottom:#7f7f7f solid 3px;padding-left:50px;margin-top:0;margin-bottom:0.66em">
  <input id="radio-inline-1" type="radio" name="reftype" value="v5c">
  I've received a new V5C (red logbook) with my name on

  <br>

  <img src="/public/images/v5c-diagram.png" width="280" height="162" align="middle" style="padding:0.5em 0 0 0">

  </label>






  <label for="radio-inline-2" class="block-label" style="border-bottom:#7f7f7f solid 3px;padding-left:50px;margin-bottom:0">
  <input id="radio-inline-2" type="radio" name="reftype" value="v5c2">
  I only have the V5C/2 (green slip)

  <br>

   <img src="/public/images/v5c2-diagram.png" width="280" height="162" align="middle" style="padding:0.5em 0 0 0">

  </label>






  <!-- Primary buttons, secondary links -->
  <div class="form-group" style="padding-top:2em">
    <input type="submit" class="button" value="Continue">


     <p style="font-weight:normal;font-size:120%;margin-top:1.5em;"><a href="https://www.gov.uk/car-tax-disc-without-v11-reminder">I don't have any of these documents</a></p>
    

  </div>

</form>

</main><!-- / #page-container -->
{{/content}}

{{$bodyEnd}}
  {{>includes/elements_scripts}}
{{/bodyEnd}}

{{/govuk_template}}
