{{<govuk_template}}

{{$head}}
  {{>includes/elements_head}}

    <script type="text/javascript" src="/public/javascripts/jquery-1.11.0.min.js"></script>

    <script type="text/javascript" src="/public/javascripts/application.js"></script>

    <script type="text/javascript" src="/public/javascripts/selection-buttons.js"></script>



{{/head}}


{{$propositionHeader}}
  {{>includes/govuk_evlprop}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}


{{$content}}


<link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />

<link href="/public/stylesheets/numberplate.css" media="screen" rel="stylesheet" type="text/css" />



<main id="content" role="main" style="padding-bottom:0">


  

  <div>
  <a class="back-to-previous" href="javascript:history.back()">Back <span class="visuallyhidden"> to the previous question</span></a>
  </div>

  <br clear="all">




  <form action="evl-3-flow" method="get" class="form">
  <input type="hidden" name="nextlink" value="evl-receipt-paydd">
  <input type="hidden" name="nextbacklink" value="evl-renewal-period-check">
  <input type="hidden" name="regmark" value="{{defaultreg}}">
  <input type="hidden" name="paynum" value="{{paynum}}">
  <input type="hidden" name="kind" value="{{kind}}">



    <h2 class="heading-medium" style="padding:0;margin:0 0 1em 0">You have chosen monthly direct debit <!--&amp; optional receipt--></h2>

    

    <div class="body-container group">


<ul class="ul-data">
  <li><span>Start date </span><strong>{{today}}</strong></li>
  <li><span>Duration </span><strong>Paying each month</strong></li>
  <li style="margin-bottom:8px"><span class="reg-mark-parent">Registration number </span><i class="reg-mark" style="font-size:120%">{{defaultreg}}</i></li>
  <li><span>Vehicle make </span><strong>TOYOTA</strong></li>
  <li><span>Monthly debit </span><strong>£9.67 (approximately)</strong></li>
  <li><span>Total over 12 months </span><strong>£116.00</strong></li>
  <li><span>Payment method </span><strong>Direct Debit from bank account</strong></li>
</ul>

<p style="margin-bottom:0.5em">
  <a href="evl-renewal-period-three">Change payment type</a>
</p>

<input type="Hidden" value="ConfirmLicenseIssue" xmlns:utils="urn:utils" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">


<div class="grid-row">
  <div class="column-two-thirds">
    <div class="help-notice">
      <p style="padding-top:0">Direct Debits will continue monthly. Amounts will change automatically as needed when government budget is announced, and we will stop when no longer required, for example, you tell us you have sold the vehicle.</p>
    </div>

    <!-- Primary buttons, secondary links -->
    <div class="form-group" style="padding: 0">
      <input type="submit" class="button" value="Continue">

      <p style="margin: 1em 0 0 0"><a href="start">Cancel application</a></p>
    </div>

    <p style="margin: 0.5em 0 2.5em 0">Read more about <a rel="external" href="https://www.gov.uk/vehicle-tax-direct-debit" target="blank">using Direct Debit to pay your vehicle tax</a>, which explains renewals, refunds and cancellations.</p>

  </div>
</div>


 

</form>

</main><!-- / #page-container -->
{{/content}}

{{$bodyEnd}}
  {{>includes/elements_scripts}}
{{/bodyEnd}}

{{/govuk_template}}
