{{<govuk_template}}

{{$head}}
  {{>includes/elements_head}}

    <script type="text/javascript" src="/public/javascripts/jquery-1.11.0.min.js"></script>

    <script type="text/javascript" src="/public/javascripts/application.js"></script>

    <script type="text/javascript" src="/public/javascripts/selection-buttons.js"></script>



{{/head}}

{{$content}}

<link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />


<main id="content" role="main">


  <h1 class="form-title heading-xlarge">
    Renew vehicle tax
  </h1>



  <div id="steps" style="padding-bottom:2">

    <nav class="progress-indicator group" role="navigation">
          <ol id="MainContent_olTax" class="veh-breadcrumb">
              <li id="MainContent_liReferenceNumberStep" class="active">
                  Your vehicle
              </li>
              <li id="MainContent_liConfirmVehicle">
                  Vehicle details
              </li>
              <li id="MainContent_liVedPicker">
                  Renewal period
              </li>
              <li id="MainContent_liVEDConfirmation">
                  Renewal period check
              </li>
              <li id="MainContent_liPayment">
                  Pay
              </li>
              <li id="MainContent_liConfirmation">
                  Done
              </li>
          </ol>
      </nav>

  </div>


  <form action="evl-3-flow" method="get" class="form">
  <input type="hidden" name="nextlink" value="evl-vehicle-details">
  <input type="hidden" name="nextbacklink" value="evl-0">


    <legend class="form-label-bold" style="padding:1em 0">First we need your vehicle details</legend>

    <label class="form-label" for="nationality-other-v11">Please type the 16 digit number from your V11 reminder letter</label>

      <input class="form-control" type="text" id="nationality-other-v11">

      

        <span class="hvrlink"><A href="#">Where to find this</a></span>


      <div class="details-pane">

      <img src="/public/images/v11-diagram.png" width="280" height="162" style="padding:1em 0">

        <p>You should receive a V11 letter a few weeks before your existing tax is due to run out. If you've moved and not let us know, or are a new keeper you'll need to use one of the other methods below.</p>

      </div>
     

      





    <div><details style="" >
      <summary role="button" aria-controls="details-content-0" tabindex="0" aria-expanded="true" style="padding-top:0.7em">
        <span class="summary">I don't have the V11 reminder, just the V5C registration certificate or V5C/2 new keeper supplement</span>
      </summary>


      <div class="" id="details-content-0" aria-hidden="false" style="display:block;border-left:none">

        <!-- Ref number select -->
        <div class="form-group form-group-compound">

        <label for="radio-inline-1" class="block-label clearblock" data-target="user-has-v5c">
        <input id="radio-inline-1" type="radio"  name="Option" value="local">
        I have the V5C (vehicle registration certificate) in my name
        </label>


        <div class="panel-indent js-hidden" id="user-has-v5c" style="padding-top:1em">
          <label class="form-label" for="other-v11">11 digit number, from your V5C vehicle registration certificate (log book)</label>
          <input class="form-control" type="text" id="other-v11" style="margin-bottom:1em">


          <label class="form-label" for="other-v11-reg">Add your registration number</label>
          <input class="form-control" type="text" id="other-v11-reg" style="width:10em">

        </div>




        <label for="radio-inline-2" class="block-label clearblock" data-target="user-has-v5c2">
        <input id="radio-inline-2" type="radio"  name="Option" value="local">
        I have the V5C/2 (new keeper supplement) and don't have a vehicle registration certificate in my name
        </label>


        <div class="panel-indent js-hidden" id="user-has-v5c2" style="padding-top:1em">
          <label class="form-label" for="other-v11">12 digit number, from the front of your V5C/2 new keeper supplement (green slip)</label>
          <input class="form-control" type="text" id="other-v11" style="margin-bottom:1em">

          <label class="form-label" for="other-v11-reg">Add your registration number</label>
          <input class="form-control" type="text" id="other-v11-reg" style="width:10em">

        </div>


        </div>


      </div>

    </details></div>
 





  </fieldset>




  
  <br clear="all">

  



  <!-- Primary buttons, secondary links -->
  <div class="form-group" style="padding-top:2em">
    <input type="submit" class="button" value="Continue">
    

  </div>

</form>

</main><!-- / #page-container -->
{{/content}}

{{$bodyEnd}}
  {{>includes/elements_scripts}}
{{/bodyEnd}}

{{/govuk_template}}
