{{<govuk_template}}

{{$head}}
  {{>includes/elements_head}}


	<script type="text/javascript" src="/public/javascripts/selection-buttons.js"></script>

	<script type="text/javascript" src="/public/javascripts/jquery-1.11.0.min.js"></script>

	<script type="text/javascript" src="/public/javascripts/application.js"></script>

	<script type="text/javascript" src="/public/javascripts/postcodes.min.js"></script>


{{/head}}


{{$propositionHeader}}
  {{>includes/govuk_evlprop}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}


{{$content}}

<link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />

<link href="/public/stylesheets/numberplate.css" media="screen" rel="stylesheet" type="text/css" />



<main id="content" role="main" style="padding-bottom:0">




	<div>
	<a class="back-to-previous" href="javascript:history.back()">Back <span class="visuallyhidden"> to the previous question</span></a>
	</div>

	<br clear="all">
		
	
	<h2 class="heading-medium" style="padding:0;margin:0 0 1em 0">
	Direct Debit summary
	</h2>

	<form action="evl-3-flow" method="get" class="form">
		<input type="hidden" name="nextlink" value="evl-paydd-complete">
		<input type="hidden" name="nextbacklink" value="evl-paydd-summary">
		<input type="hidden" name="regmark" value="{{defaultreg}}">
		<input type="hidden" name="email" value="{{email}}">




	<p style="margin-top:1em">Read more about <a rel="external" href="https://www.gov.uk/vehicle-tax-direct-debit" target="blank">using Direct Debit to pay your vehicle tax</a>, which also explains renewals, refunds and cancelations.</p>

<!--A summary of what your payments will be-->


<ul class="ul-data">
	<li><span style="width:32%" class="reg-mark-parent">Total £116.00 payable for vehicle </span><i class="reg-mark" style="font-size:120%">{{defaultreg}}</i></li>
	<li><span style="width:32%">First payment of £9.74 </span><strong>{{today}}</strong></li>
	<li><span style="width:32%">11 monthly payments of £9.66 </span><strong>1st of each subsequent month</strong></li>
	<li><span style="width:32%">Email address for receipts </span><strong>{{email}}</strong></li>

</ul>
	
		



		<div class="form-group" style="margin-top:0">
			<input type="submit" class="button" value="Confirm payments">
        </div>




	</form>

                

   
 </main><!-- / #page-container -->
{{/content}}

{{$bodyEnd}}
  {{>includes/elements_scripts}}
{{/bodyEnd}}

{{/govuk_template}}
