{{<govuk_template}}

{{$head}}
  {{>includes/elements_head}}

    <script type="text/javascript" src="/public/javascripts/jquery-1.11.0.min.js"></script>

    <script type="text/javascript" src="/public/javascripts/application.js"></script>

    <script type="text/javascript" src="/public/javascripts/selection-buttons.js"></script>


{{/head}}


{{$propositionHeader}}
  {{>includes/govuk_evlprop}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}


{{$content}}

<link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />


<main id="content" role="main" style="padding-bottom:0">


  <!-- <h1 class="form-title heading-xlarge">
    Taxing a vehicle
  </h1> -->


  <div>
  <a class="back-to-previous" href="javascript:history.back()">Back <span class="visuallyhidden"> to the previous question</span></a>
  </div>

  <br clear="all">





  <form action="evl-3-flow" method="get" class="form">
  <input type="hidden" name="nextlink" value="evl-end-card">
  <input type="hidden" name="nextbacklink" value="evl-pay-card">
  <input type="hidden" name="regmark" value="{{defaultreg}}">



    <h2 class="heading-medium" style="padding:0;margin:0 0 1em 0">Payment complete, vehicle taxed</h2>

    <div class="body-container group">

    

    <div class="application-confirmation" xmlns:utils="urn:utils" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
      <h1>✔ Application complete</h1>
      <h2>Your application reference:
      <strong>4982-1637-7958-4457</strong></h2>
    </div>





    </div>


    <div class="grid-row">
      <div class="column-two-thirds">

        <table>
          <thead>
            <tr>
              <th style="font-size:100%">Item</th>
              <th style="font-size:100%">Price</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td style="font-size:100%">
              <p><b>12</b> month vehicle tax for vehicle registration <b>{{defaultreg}}</b></p>
              <p>Valid from <b>24 April 2015</b></p>
              <p>Last 4 digits of payment card: <b>2222</b></p>
              </td>

              <td style="font-size:100%">£125.00</td>
            </tr>
            <tr>
              <td style="font-size:100%">Credit card fee</td>
              <td style="font-size:100%">£2.50</td>
            </tr>
            <tr>
              <td style="font-size:100%">Total</td>
              <td style="font-size:100%">£127.50</td>
            </tr>
          </tbody>
        </table>
        
      </div>
    </div>


    <p style="margin-top:2em">
    The law has changed, you do not need to display a tax disc, therefore we will not issue one to you.
    </p>

    <p style="margin-top:2em">
    You may want to <a href="#">print this page for your records</a>.
    </p>







  <!-- Primary buttons, secondary links -->
  <div class="form-group" style="padding:1em 0">
    <input type="submit" class="button" value="Finished">

    <!--<p style="padding:1em 0"><a href="start">Cancel application</a>-->




  </div>

</form>

</main><!-- / #page-container -->
{{/content}}

{{$bodyEnd}}
  {{>includes/elements_scripts}}
{{/bodyEnd}}

{{/govuk_template}}
