{{<govuk_template}}

{{$head}}
  {{>includes/elements_head}}

    <script type="text/javascript" src="/public/javascripts/jquery-1.11.0.min.js"></script>

    <script type="text/javascript" src="/public/javascripts/application.js"></script>

    <script type="text/javascript" src="/public/javascripts/selection-buttons.js"></script>



{{/head}}

{{$content}}

<link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />


<main id="content" role="main" style="padding-bottom:0">


  <!-- <h1 class="form-title heading-xlarge">
    Taxing a vehicle
  </h1> -->


  <div>
    <a class="back-to-previous" href="javascript:history.back()">Back <span class="visuallyhidden"> to the previous question</span></a>
    </div>

    <br clear="all">



    <form action="evl-11-renewals" method="get" class="form">

    <input type="hidden" name="nextbacklink" value="evl-renewal-period">
    <input type="hidden" name="paymethod" value="card">


    <h2 class="heading-medium" style="padding:0;margin:0 0 1em 0">How to pay</h2>


    <div class="form-group form-group-compound">


    <h3 class="heading-small">Pay once using a debit or credit card</h3>


    <br clear="all">


    <div class="panel-indent " id="example-different-v11" style="margin-top:0em">

      <label for="radio-inline-1" class="block-label">
      <input id="radio-inline-1" type="radio"  name="paynum" value="1">
      6 Months at <strong>£60.50</strong>
      </label>

      <label for="radio-inline-2" class="block-label">
      <input id="radio-inline-2" type="radio"  name="paynum" value="2">
      12 Months at <strong>£110.00</strong>
      </label>

    </div>



  </div>



  <br clear="all">




  <!-- Primary buttons, secondary links -->
  <div class="form-group" style="padding:1em 0">
    <input type="submit" class="button" value="Continue">

    <p style="padding:1em 0"><a href="start">Cancel application</a>


    
    <p style="margin-top:1em"><a rel="external" href="https://www.gov.uk/government/publications/rates-of-vehicle-tax-v149" target="_blank">Rates of vehicle tax (V149)</a>
    </p>


  </div>

</form>

</main><!-- / #page-container -->
{{/content}}

{{$bodyEnd}}
  {{>includes/elements_scripts}}
{{/bodyEnd}}

{{/govuk_template}}
