{{<govuk_template}}

{{$head}}
  {{>includes/elements_head}}


	<script type="text/javascript" src="/public/javascripts/selection-buttons.js"></script>

	<script type="text/javascript" src="/public/javascripts/jquery-1.11.0.min.js"></script>

	<script type="text/javascript" src="/public/javascripts/application.js"></script>

	<script type="text/javascript" src="/public/javascripts/postcodes.min.js"></script>


 {{/head}}

{{$content}}

<link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />

<link href="/public/stylesheets/numberplate.css" media="screen" rel="stylesheet" type="text/css" />



<main id="content" role="main" style="padding-bottom:0">


	<div>
	<a class="back-to-previous" href="javascript:history.back()">Back <span class="visuallyhidden"> to the previous question</span></a>
	</div>

	<br clear="all">
		
	
	<h2 class="heading-medium" style="padding:0;margin:0 0 1em 0">Choose address
	</h2>




	<form method="get" action="evl-chosen-address" class="form">
	  <input type="hidden" name="paynum" value="{{paynum}}">




		
		<p>Postcode</p>
		
		<p><span style="text-transform:uppercase;font-weight:700;padding-right:2em">{{postcode}}</span>  <span><a href="evl-paydd-postcode">Change</a></p>

		<p></p>

		<p>Select your address from the list</p>

		<div class="form-group">


			<select class="input-select" name="udprn">
			<option>{{result.length}} addresses were found</option>
			{{#result}}

				
					<option value="{{udprn}}">{{line_1}}, {{line_2}}</option>
				

			{{/result}}
			</select>


		</div>


		<a href="new-keeper-address-manual">Enter the address manually</a>



		<div class="form-group" style="margin-top:4em">
			<input type="submit" class="button" value="Select address">
        </div>









   
 </main><!-- / #page-container -->
{{/content}}

{{$bodyEnd}}
  {{>includes/elements_scripts}}
{{/bodyEnd}}

{{/govuk_template}}
