{{<govuk_template}}

{{$head}}
  {{>includes/elements_head}}


	<script type="text/javascript" src="/public/javascripts/selection-buttons.js"></script>

	<script type="text/javascript" src="/public/javascripts/jquery-1.11.0.min.js"></script>

	<script type="text/javascript" src="/public/javascripts/application.js"></script>

	<script type="text/javascript" src="/public/javascripts/postcodes.min.js"></script>


 {{/head}}

{{$content}}

<link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />

<link href="/public/stylesheets/numberplate.css" media="screen" rel="stylesheet" type="text/css" />



<main id="content" role="main" style="padding-bottom:0">



		
	
	<h2 class="heading-medium" style="padding:0;margin:2em 0 1em 0">
	Your Direct Debit payment schedule
	</h2>


	<p>

	



	<!--A summary of what your payments will be-->

	<table class="payments" width="100%" cellpadding="0" cellspacing="0" style="margin-bottom:2em">
		<tbody><tr>
			<td>
				<label><strong>Account Name</strong></label>&nbsp;
			</td>
			<td><label>Mr Jones</label>&nbsp;</td>
			<td><strong>Account number</strong>&nbsp;</td>
			<td>*****678&nbsp;</td>
		</tr>
		<tr>
			<td><strong>Payment frequency</strong>&nbsp;</td>
			<td>Monthly&nbsp;
			</td>
			<td><strong>Sort code</strong>&nbsp;</td>
			<td>102030</td>
		</tr>
	</tbody></table>


	<table class="payments" width="100%" border="0" cellpadding="0" cellspacing="0">
		<tbody><tr>
			<td scope="col"><strong>Payment Amount</strong>&nbsp;</td>
			<td scope="col"><strong>Date of Payment</strong>&nbsp;</td>
		</tr>
		
			<tr>
				<td scope="row">£9.74&nbsp;</td>
				<td>17 April 2017&nbsp;</td>
			</tr>
		
			<tr>
				<td scope="row">£9.66&nbsp;</td>
				<td>01 May 2017&nbsp;</td>
			</tr>
		
			<tr>
				<td scope="row">£9.66&nbsp;</td>
				<td>01 June 2017&nbsp;</td>
			</tr>
		
			<tr>
				<td scope="row">£9.66&nbsp;</td>
				<td>03 July 2017&nbsp;</td>
			</tr>
		
			<tr>
				<td scope="row">£9.66&nbsp;</td>
				<td>01 August 2017&nbsp;</td>
			</tr>
		
			<tr>
				<td scope="row">£9.66&nbsp;</td>
				<td>01 September 2017&nbsp;</td>
			</tr>
		
			<tr>
				<td scope="row">£9.66&nbsp;</td>
				<td>02 October 2017&nbsp;</td>
			</tr>
		
			<tr>
				<td scope="row">£9.66&nbsp;</td>
				<td>01 November 2017&nbsp;</td>
			</tr>
		
			<tr>
				<td scope="row">£9.66&nbsp;</td>
				<td>01 December 2017&nbsp;</td>
			</tr>
		
			<tr>
				<td scope="row">£9.66&nbsp;</td>
				<td>01 January 2018&nbsp;</td>
			</tr>
		
			<tr>
				<td scope="row">£9.66&nbsp;</td>
				<td>01 February 2018&nbsp;</td>
			</tr>
		
			<tr>
				<td scope="row">£9.66&nbsp;</td>
				<td>01 March 2018&nbsp;</td>
			</tr>
		
	</tbody></table>



	<table class="payments" id="page" width="100%" cellpadding="0" cellspacing="0" style="margin:2em 0">
		<tbody><tr>
			<td valign="top">
			
			
				<img src="/public/images/dvla-logo.png" alt="Driver and Vehicle Licensing Agency">
			</td>
			<td>
				<p>
					DVLA<br>
					Swansea<br>
					SA99 1AR<br>
				</p>
				<p>
					Telephone:
					0300 123 4321
				</p>
				<p>
					Email Address:
					
					<a href="https://emaildvla.direct.gov.uk/emaildvla/cegemail/dvla/en/index.html" target="_blank"> https://emaildvla.direct.gov.uk/emaildvla/cegemail/dvla/en/index.html </a>
				</p>
				<p>
					Website:
					
					<a href="https://www.gov.uk/browse/driving" target="_blank"> https://www.gov.uk/browse/driving </a>
					
				</p>
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<h2 class="heading-medium"><strong>Please do not send this form to your bank</strong></h2>
			</td>
		</tr>
	</tbody></table>





	<table class="payments" width="100%" cellpadding="2" cellspacing="2">
		<tbody><tr>
			<td width="50%">
				<p>
					DVLA
				</p>
				<p>
					Swansea
				</p>
				<p>
					SA99 1AR
				</p>
				<p>
					T:
					0300 123 4321
				</p>
			</td>
			<td width="25%">
				Instruction to your bank or building society to pay by Direct Debit</td>
			<td width="25%">
				<img src="/public/images/dd-logo.png" alt="Direct Debit logo" height="69" width="180">
			</td>
		</tr>
		<tr>
			<td>
				<strong>Name of account holder</strong>
			</td>
			<td colspan="2">
				<strong>Service user number</strong>
			</td>
		</tr>
		<tr>
			<td><label>mr jones</label></td>
			<td colspan="2">
				<table width="75%" border="1" cellpadding="0" cellspacing="0">
					<tbody><tr>
						<td>2</td>
						<td>9</td>
						<td>5</td>
						<td>4</td>
						<td>0</td>
						<td>2</td>
					</tr>
				</tbody></table>
		</td></tr>
		<tr>
			<td>
				<strong>Bank / Building society account number</strong>
			</td>
			<td colspan="2">
				FOR DVLA OFFICIAL USE ONLY. This is not part of this instruction to your bank or building society.
			</td>
		</tr>
		<tr>
			<td>
				<table width="100%" border="1" cellpadding="0" cellspacing="0">
					<tbody><tr>
						
							<td>*</td>
						
							<td>*</td>
						
							<td>*</td>
						
							<td>*</td>
						
							<td>*</td>
						
							<td>6</td>
						
							<td>7</td>
						
							<td>8</td>
						
					</tr>
				</tbody></table>
			</td>
			<td colspan="2" rowspan="4">&nbsp;</td>
		</tr>
		<tr>
			<td>
				<strong>Branch sort code</strong>
			</td>
		</tr>
		<tr>
			<td>
				<table width="50%" border="1" cellpadding="0" cellspacing="0">
					<tbody><tr>
						
							<td>1</td>
						
							<td>0</td>
						
							<td>2</td>
						
							<td>0</td>
						
							<td>3</td>
						
							<td>0</td>
						
					</tr>
				</tbody></table>
			</td>
		</tr>
		<tr>
			<td>
				<strong>Name and address of bank or building society</strong>
			</td>
		</tr>
		<tr>
			<td>
				
					<p>Test Bank                     </p>
				
				
					<p>Test Street                   </p>
				
				
					<p>Test Localit                  </p>
				
				
					<p>Test Town                     </p>
				
				
					<p>Test County                   </p>
				
				
					<p></p>
				
				
					<p>TST 111 </p>
				
			</td>
			<td colspan="2">
				
			</td>
		</tr>
		<tr>
			<td>
				<strong>Reference</strong>
			</td>
			<td colspan="2" rowspan="3">
				<p>
					<strong>Instruction to your bank or building society</strong>
				</p>
				<p>Please pay DVLA Direct Debits from the account detailed in this instruction subject to the safeguards assured by the Direct Debit Guarantee.</p>

				<p>I understand that this instruction may remain with DVLA and if so, details will be passed electronically to my bank/ building society.</p>
			</td>
		</tr>
		<tr>
			<td>
				<table width="75%" border="1" cellpadding="0" cellspacing="0">
					<tbody><tr>
						
							<td>0</td>
						
							<td>0</td>
						
							<td>0</td>
						
							<td>0</td>
						
							<td>0</td>
						
							<td>0</td>
						
							<td>0</td>
						
							<td>0</td>
						
							<td>0</td>
						
							<td>0</td>
						
							<td>0</td>
						
							<td>0</td>
						
							<td>0</td>
						
							<td>0</td>
						
							<td>0</td>
						
							<td>8</td>
						
							<td>3</td>
						
							<td>4</td>
						
					</tr>
				</tbody></table>
			</td>
		</tr>
		<tr>
			<td>
				Banks and building societies may not accept Direct Debit Instructions for some types of account.
			</td>
		</tr>
	</tbody></table>



	<table class="payments" width="100%" border="0" cellpadding="0" cellspacing="0">
		<tbody><tr>
			<td colspan="3">
				<strong>Direct Debit Guarantee</strong>
				<img src="/public/images/dd-logo.png" alt="Direct Debit logo" height="45" width="121" align="right">
			</td>
		</tr>
		<tr>
			<td colspan="3">
				<p>This Guarantee is offered by all banks and building societies that accept instructions to pay Direct Debits.</p>

				<p>If there are any changes to the amount, date or frequency of your Direct Debit the Driver and Vehicle Licensing Agency (DVLA) will notify you 10 working days in advance of your account being debited or as otherwise agreed. If you request DVLA to collect a payment, confirmation of the amount and date will be given to you at thetime of the request.</p>

				<p>If an error is made in the payment of your Direct Debit, by DVLA or your bank or building society, you are entitled to a full and immediate  refund of the amount paid from your bank or building society. </p>

				<p>If you receive a refund you are not entitled to, you must pay it back when DVLA asks you to.</p>

				<p>You can cancel a Direct Debit at any time by simply contacting your bank or building society. Written confirmation may be required. Please also notify us.</p>
				
			</td>
		</tr>
	</tbody></table>




	
		





	</form>

                

   
 </main><!-- / #page-container -->
{{/content}}

{{$bodyEnd}}
  {{>includes/elements_scripts}}
{{/bodyEnd}}

{{/govuk_template}}
