{{<govuk_template}}

{{$head}}
  {{>includes/elements_head}}



	<script type="text/javascript" src="/public/javascripts/jquery-1.11.0.min.js"></script>

	<script type="text/javascript" src="/public/javascripts/application.js"></script>

    <script type="text/javascript" src="/public/javascripts/parsley.min.js"></script>

	<script type="text/javascript" src="/public/javascripts/selection-buttons.js"></script>



{{/head}}


{{$propositionHeader}}
  {{>includes/govuk_evlprop}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}


{{$content}}

<link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />

<!-- <link href="/public/stylesheets/numberplate.css" media="screen" rel="stylesheet" type="text/css" /> -->



<main id="content" role="main" style="padding-bottom:0">




	<div>
	<a class="back-to-previous" href="javascript:history.back()">Back <span class="visuallyhidden"> to the previous question</span></a>
	</div>

	<br clear="all">
		
	
	<h2 class="heading-medium" style="padding:0;margin:0 0 1em 0">Enter bank account details
	</h2>

	<form id="bank" action="evl-3-flow" method="get" class="form" data-parsley-validate>
		<input type="hidden" name="nextlink" value="evl-paydd-summary">
		<input type="hidden" name="nextbacklink" value="evl-paydd-address-playback">
		<input type="hidden" name="regmark" value="{{defaultreg}}">
		<input type="hidden" name="email" value="{{email}}">


		

		<div class="form-group">




			<label>Name of account holder</label>
			<div class="address-form-line" style="margin-bottom:1em">
			<input id="ddbankname" name="ddbankname" autocomplete="off" class="form-control form-control-1-4" type="text" data-parsley-trigger=" change" required data-parsley-required-message="The name of the account holder is required">
			</div>



			<!-- <label>Sort code</label>
			<div class="address-form-line" style="margin-bottom:1em">
			<fieldset required>
			<input id="ddbanksort-1" autocomplete="off" name="ddbanksortcode-1" class="num form-control form-control-1-8" maxlength="2" type="text" style="width:71px;margin-right:0.5em;float:left">

			<input id="ddbanksort-2" autocomplete="off" name="ddbanksortcode-2" class="num form-control form-control-1-8" maxlength="2" type="text"  style="width:71px;margin-right:0.5em;float:left">

			<input id="ddbanksort-3" autocomplete="off" name="ddbanksortcode-3" class="num form-control form-control-1-8" maxlength="2" type="text"  style="width:71px">
			</fieldset>
			</div>

			<br clear="all"> -->



			<label>Sort code</label>
			<div class="address-form-line" style="margin-bottom:1em">
			<fieldset required>
			<input id="ddbanksort" autocomplete="off" name="ddbanksortcode" class="num form-control form-control-1-8" maxlength="8" type="text" style="width:120px;margin-right:0.5em;float:left">

		
			</fieldset>
			</div>

			<br clear="all">






			

			<label>Bank account number</label>
			<div class="address-form-line" style="margin-bottom:1em">
			<input id="ddbankac" name="ddbankac" autocomplete="off" class="num form-control form-control-1-4" type="text" maxlength="8" required data-parsley-required-message="A bank account number is required" data-parsley-trigger="focusin focusout">
			</div>



			<label>Date of birth</label>
			
			<div class="address-form-line autotabbed" style="margin-bottom:1em">

			<div style="float:left">
			Day<br/>
			<input id="dob-dd" name="dob-dd" autocomplete="off" class="num form-control form-control-1-8" maxlength="2" type="text" style="width:71px;margin-right:0.5em" required data-parsley-required-message="add day as two digits " data-parsley-errors-container="#date-error-field" data-parsley-trigger="change" data-parsley-max="31">
			</div>

			<div style="float:left">
			Month<br/>
			<input id="dob-mm" name="dob-mm" autocomplete="off" class="num form-control form-control-1-8" maxlength="2" type="text"  style="width:71px;margin-right:0.5em" required data-parsley-required-message="add month as two digits " data-parsley-errors-container="#date-error-field" data-parsley-trigger="change" data-parsley-max="12">
			</div>

			<div style="float:left">
			Year<br/>
			<input id="dob-yyyy" name="dob-yyyy" autocomplete="off" class="num form-control form-control-1-8" maxlength="4" type="text"  style="width:71px" required data-parsley-required-message="add year as four digits" required data-parsley-errors-container="#date-error-field" data-parsley-trigger="change">
			</div>

			<br clear="all">

			<p style="margin-top:0.75em"><!--Example: 03 11 1976<br>-->
			We need this to confirm who you are if you ever need to call our Contact Centre</p>

			<div id="date-error-field">

			</div>
			</div>









			<script>
				$(document).ready(function() {
			    $("input.num").keydown(function (e) {
			        // Allow: backspace, delete, tab, escape, enter and .
			        if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, ,189, 109, 190, 32]) !== -1 ||
			             // Allow: Ctrl+A
			            (e.keyCode == 65 && e.ctrlKey === true) ||
			             // Allow: Ctrl+C
			            (e.keyCode == 67 && e.ctrlKey === true) ||
			             // Allow: Ctrl+X
			            (e.keyCode == 88 && e.ctrlKey === true) ||
			             // Allow: home, end, left, right
			            (e.keyCode >= 35 && e.keyCode <= 39)) {
			                 // let it happen, don't do anything
			                 return;
			        }
			        // Ensure that it is a number and stop the keypress
			        if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
			            e.preventDefault();
			        }
			    });
			});			
			</script>




				
	            <div id="truthbox" style="border:4px #ccc solid;padding:1em">

	            <div id="truth-error-field">

	            </div>

	            <label for="radio-inline-1" class="block-label" style="border-bottom:#7f7f7f solid 3px;padding-left:50px;margin-bottom:1em">
	            <input id="radio-inline-1" type="checkbox" name="confirm" value="tick" required data-parsley-required-message="Please read and confirm this statement" data-parsley-trigger="change" data-parsley-errors-container="#truth-error-field">
	            Please confirm the following are true:
	            </label>

	            <br clear="all" />


	            <p>I have the authority to set up a Direct Debit against this account.</p>

	            <p>If this is a joint account, only one account holder is required to authorise payments.</p>
	            </div>


				<!--<p style="margin: 0.5em 0 0.2em 0">Please confirm both:</p>

				<label for="radio-inline-1" class="block-label" style="border-bottom:#7f7f7f solid 3px;padding-left:50px;margin-bottom:1em">
	            <input id="radio-inline-1" type="checkbox" name="confirm" value="tick" required data-parsley-required-message="Please read and confirm this statement" data-parsley-trigger="focusin focusout">
	            I have the authority to set up a Direct Debit against this account
	            </label>

	            <label for="radio-inline-2" class="block-label" style="border-bottom:#7f7f7f solid 3px;padding-left:50px;margin-bottom:1.5em">
	            <input id="radio-inline-2" type="checkbox" name="confirm" value="tick" required data-parsley-required-message="Please read and confirm this statement" data-parsley-trigger="focusin focusout">
	            If this is a joint account, only one account holder is required to sign
	            </label> -->

	            

	            <p>
	            
	            <!--<p>A Direct Debit can be set up on a joint account where only one signature is required to transact.</p>-->
            </div>


		</div>


		



		<div class="form-group" style="margin:0 0 2em 0">
			<input type="submit" class="button" value="Continue">
        </div>
		
		</form>





                

   
 </main><!-- / #page-container -->
{{/content}}

{{$bodyEnd}}
  {{>includes/elements_scripts}}
{{/bodyEnd}}

{{/govuk_template}}
