{{<govuk_template}}

{{$head}}
  {{>includes/elements_head}}

    <script type="text/javascript" src="/public/javascripts/jquery-1.11.0.min.js"></script>

    <script type="text/javascript" src="/public/javascripts/application.js"></script>

    <script type="text/javascript" src="/public/javascripts/selection-buttons.js"></script>



{{/head}}


{{$propositionHeader}}
  {{>includes/govuk_evlprop}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}


{{$content}}

<link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />

<link href="/public/stylesheets/numberplate.css" media="screen" rel="stylesheet" type="text/css" />



<main id="content" role="main" style="padding-bottom:0">



  <div>
  <a class="back-to-previous" href="javascript:history.back()">Back <span class="visuallyhidden"> to the previous question</span></a>
  </div>

  <br clear="all">




  <form action="evl-3-flow" method="get" class="form">
  <input type="hidden" name="nextlink" value="evl-paydd-postcode">
  <input type="hidden" name="nextbacklink" value="evl-renewal-period-check">


    <h2 class="heading-medium" style="padding:0;margin:0 0 1em 0">Renewal period check<!--&amp; optional receipt--></h2>

    <div class="body-container group">


<ul class="ul-data">
  <li><span>Start date </span><strong>01 November 2014</strong></li>
  <li><span>Duration </span><strong>Paying every six months</strong></li>
  <li style="margin-bottom:8px"><span class="reg-mark-parent">Registration number </span><i class="reg-mark" style="font-size:120%">CU57&nbsp;ABC</i></li>
  <li><span>Vehicle make </span><strong>NO MAKE</strong></li>
  <li><span>One debit every 12 months </span><strong>£110.00</strong></li>
  <li><span>Total over 12 months</span><strong>£110.00</strong></li>
  <li><span>Payment method </span><strong>Direct Debit from bank account</strong></li>
</ul>
<input type="Hidden" value="ConfirmLicenseIssue" xmlns:utils="urn:utils" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">



<div class="help-notice">
  <p style="padding-top:0.2em">Direct debits will continue monthly until you tell us or your bank to stop. Amounts will change automatically as needed when governement budget is announced.</p>
</div>
<input type="hidden" value="CreditCardChargeNotice" xmlns:utils="urn:utils" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">


<!--
<h2 class="heading-medium" style="margin-top:0.33em">Get a receipt by email or text</h2>

    <div style="margin-top:1.5em">
        <label for="MainContent_txtEmailConfirmation" id="MainContent_lblbEmailConfirmationText">Email address (optional)</label>

        <span id="MainContent_revtxtEmailConfirmation" class="Validator" style="display:none;">Please enter a valid email address</span>
        <p>
            <input name="ctl00$MainContent$txtEmailConfirmation" maxlength="150" id="MainContent_txtEmailConfirmation" class="form-control input-large" type="email" autocomplete="off">

        </p>

    </div>


    <div>
        <label for="MainContent_txtMobileConfirmation" id="MainContent_lblMobileConfirmationText">Mobile number (optional)</label>

        <span id="MainContent_revtxtMobileConfirmation" class="Validator" style="display:none;">Please enter a valid mobile number</span>
        <p>
            <input name="ctl00$MainContent$txtMobileConfirmation" maxlength="11" id="MainContent_txtMobileConfirmation" class="form-control input-large" type="tel" autocomplete="off" pattern="[0-9]*" onkeypress="return isNumber(event)">
        </p>


        <p>The DVLA does not share mobile phone numbers or email addresses with anyone.</p>
        

        <p>
            <label for="MainContent_chkEmailOptOut" class="block-label">
            <input id="MainContent_chkEmailOptOut" type="checkbox" name="ctl00$MainContent$chkEmailOptOut">Please tick if you wish to be sent information.</label>
        </p>
    </div>
                

            
        
    </div> -->






  <!-- Primary buttons, secondary links -->
  <div class="form-group" style="padding:1em 0">
    <input type="submit" class="button" value="Continue">

    <p style="padding:1em 0"><a href="start">Cancel application</a>




  </div>

</form>

</main><!-- / #page-container -->
{{/content}}

{{$bodyEnd}}
  {{>includes/elements_scripts}}
{{/bodyEnd}}

{{/govuk_template}}
