{{<govuk_template}}

{{$head}}
  {{>includes/elements_head}}


	<script type="text/javascript" src="/public/javascripts/selection-buttons.js"></script>

	<script type="text/javascript" src="/public/javascripts/jquery-1.11.0.min.js"></script>

	<script type="text/javascript" src="/public/javascripts/application.js"></script>

	<script type="text/javascript" src="/public/javascripts/postcodes.min.js"></script>


 {{/head}}

{{$content}}

<link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />

<link href="/public/stylesheets/numberplate.css" media="screen" rel="stylesheet" type="text/css" />



<main id="content" role="main" style="padding-bottom:0">




	<div style="visibility:hidden">
	<a class="back-to-previous" href="javascript:history.back()">Back <span class="visuallyhidden"> to the previous question</span></a>
	</div>

	<br clear="all">
		
	
	<h2 class="heading-medium" style="padding:0;margin:0 0 1em 0">
	Your Direct Debit has been set up
	</h2>

	<form action="evl-3-flow" method="get" class="form">
	  <input type="hidden" name="nextlink" value="evl-end-dd">
	  <input type="hidden" name="nextbacklink" value="evl-paydd-address-playback">




<!--A summary of what your payments will be-->



<div>



<p>Reference: <span style="color:#999">000000000000000</span>834001</p>

<p style="margin:2em 0">
<a rel="external" href="#" target="_blank">View, save or print your entire Direct Debit schedule</a> (opens in a new window)
</p>

<p>The collections will appear on your bank statement with these references: <strong>DVLA 295402</strong> and <strong>{{defaultreg}}</strong></p>

<p>A confirmation email will be sent within 3 working days confirming set up of this direct debit.</p>




<!--<ul class="ul-data">
	<li><span style="width:32%">Total £116.00 payable for vehicle </span><i class="reg-mark" style="font-size:120%">{{defaultreg}}</i></li>
	<li><span style="width:32%">First payment of £9.74 </span><strong>17 April 2017</strong></li>
	<li><span style="width:32%">11 monthly payments of £9.66 </span><strong>1st of each subsequent month</strong></li>

</ul>-->
	
		



		<div class="form-group" style="margin:1.5em 0 3em 0">
			<input type="submit" class="button" value="Complete vehicle tax">
        </div>




	</form>

                

   
 </main><!-- / #page-container -->
{{/content}}

{{$bodyEnd}}
  {{>includes/elements_scripts}}
{{/bodyEnd}}

{{/govuk_template}}
