{{<govuk_template}}

{{$head}}
  {{>includes/elements_head}}

    <script type="text/javascript" src="/public/javascripts/jquery-1.11.0.min.js"></script>

    <script type="text/javascript" src="/public/javascripts/application.js"></script>

    <script type="text/javascript" src="/public/javascripts/selection-buttons.js"></script>



{{/head}}


{{$propositionHeader}}
  {{>includes/govuk_evlprop}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}


{{$content}}

<link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />


<main id="content" role="main" style="padding-bottom:0">


  <!-- <h1 class="form-title heading-xlarge">
    Taxing a vehicle
  </h1> -->


  <div>
    <a class="back-to-previous" href="javascript:history.back()">Back <span class="visuallyhidden"> to the previous question</span></a>
    </div>

    <br clear="all">


    <form action="evl-11-renewal-picto" method="get" class="form">

    <input type="hidden" name="nextbacklink" value="evl-renewal-period">
    <input type="hidden" name="payperiod" value="1m">
    <input type="hidden" name="regmark" value="{{defaultreg}}">

    <h2 class="heading-medium" style="padding:0;margin:0 0 1em 0">How to pay</h2>


    <div class="form-group form-group-compound">


    <h3 class="heading-small">Pay monthly</h3>


    <br clear="all">

    <div class="panel-indent" id="monthly" style="margin-top:1em">

    <p style="max-width:620px">Direct Debit payments will be taken from your bank account each month continuously. No need to renew – we will stop it automatically when no longer required, eg. you sell your vehicle</p>

      <label for="radio-inline-1" class="block-label">
      <input id="radio-inline-1" type="radio"  name="paynum" value="3">
      Monthly payments (approximately <strong>£9.67</strong> each) totalling <strong>£116.00</strong> per year
      </label>

     

    </div>

    
  </div>


  <br clear="all">



  <!-- Primary buttons, secondary links -->
  <div class="form-group" style="padding:1em 0">
    <input type="submit" class="button" value="Continue">

    <p style="padding:1em 0"><a href="start">Cancel application</a>


    
    <p style="margin-top:1em">Read more about <a rel="external" href="https://www.gov.uk/vehicle-tax-direct-debit" target="blank">using Direct Debit to pay your vehicle tax</a>, which also explains renewals, refunds and cancelations.</p>



  </div>

</form>

</main><!-- / #page-container -->
{{/content}}

{{$bodyEnd}}
  {{>includes/elements_scripts}}
{{/bodyEnd}}

{{/govuk_template}}
