{{<govuk_template}}

{{$head}}
  {{>includes/elements_head}}

    <script type="text/javascript" src="/public/javascripts/jquery-1.11.0.min.js"></script>

    <script type="text/javascript" src="/public/javascripts/application.js"></script>

    <script type="text/javascript" src="/public/javascripts/selection-buttons.js"></script>



{{/head}}

{{$content}}

<link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />


<main id="content" role="main">


  <h1 class="form-title heading-xlarge">
    Taxing a vehicle
  </h1>



  <div id="steps" style="padding-bottom:2">

    <nav class="progress-indicator group" role="navigation">
          <ol id="MainContent_olTax" class="veh-breadcrumb">
              <li id="MainContent_liReferenceNumberStep" class="active">
                  Your vehicle
              </li>
              <li id="MainContent_liConfirmVehicle">
                  Vehicle details
              </li>
              <li id="MainContent_liVedPicker">
                  Renewal period
              </li>
              <li id="MainContent_liVEDConfirmation">
                  Renewal period check
              </li>
              <li id="MainContent_liPayment">
                  Pay
              </li>
              <li id="MainContent_liConfirmation">
                  Done
              </li>
          </ol>
      </nav>

  </div>





  <form action="evl-3-got" method="get" class="form">


    <legend class="form-label-bold" style="padding:1em 0">First we need a reference number to identify your vehicle</legend>


    <!-- Ref number select -->


    <div class="grid-row">

    <div class="column-third">

      <img src="/public/images/v11-diagram.png" width="280" height="162">
   
      <img src="/public/images/v5c-diagram.png" width="280" height="162">
   
      <img src="/public/images/v5c2-diagram.png" width="280" height="162">

    </div>




    <div class="column-two-thirds ">

    <label for="radio-inline-1" class="block-label" style="margin:2.8em 0 2.8em 0">
    <input id="radio-inline-1" type="radio"  name="reftype" value="1">
    I have a V11 reminder letter in my name
    </label>

    


    <label for="radio-inline-2" class="block-label" style="margin:2.8em 0 2.8em 0">
    <input id="radio-inline-2" type="radio"  name="reftype" value="2">
    I have the V5C vehicle registration certificate in my name
    </label>

    


    <label for="radio-inline-3" class="block-label" style="margin:2.8em 0 2.3em 0">
    <input id="radio-inline-3" type="radio"  name="reftype" value="3">
    I am a new keeper and don't have a registration certificate in my name
    </label>

    </div>

    </div>



  </fieldset>



  <br clear="all">

  <div><details>
    <summary role="button" aria-controls="details-content-0" tabindex="0" aria-expanded="true" style="padding-top:0.7em">
      <span class="summary">Don't have any of these documents to tax your vehicle with?</span>
    </summary>

    <div class="panel-indent" id="details-content-0" aria-hidden="false" style="display:block;">
    
    <h2 class="heading-medium" style="margin-top:0.75em">Other ways to apply</h2>

    <h2 class="heading-small" style="margin-top:0.75em">By phone</h2>

    <ul class="contact-numbers">
    <li><span class="contact-type">Telephone:</span> 0300 123 4321</li>
    <li><span class="contact-type">Textphone:</span> 0300 790 6201</li>
    </ul>

    <div class="call-charges">
      <p>Calls to 03 numbers cost approximately:</p>
      <ul class="charges">
      <li>2p to 10p from landlines</li>
      <li>10p to 40p from mobile phones</li>
      </ul>
      <p><a href="/call-charges">Find out more about call charges</a></p>
    </div>

    <h2 class="heading-small" style="">At the Post Office</h2>

    <p>Go to your local Post Office that deals with vehicle tax. You'll need to take:</p>

    <ul class="list-bullet">
      <li>completed V11 reminder (or your V5C)</li>
      <li>MOT test certificate if required (must be valid when the tax starts)</li>
      <li>the payment shown on the reminder</li>
    </ul>

    <p>In <a href="#">Northern Ireland</a> you'll also need an insurance certificate or cover note.</p>



    <p><span class="heading-small">
    Get a V5C vehicle registration certificate (log book)</span><br>

    If you have lost the V5C with your name on, <a href="https://www.gov.uk/vehicle-registration-certificate-v5c-log-book">you can get a replacement by filling in a V62 form</a>.
    

    </p>


    <p>
      
    </div>
  </details></div>


  <!-- Primary buttons, secondary links -->
  <div class="form-group" style="padding-top:2em">
    <input type="submit" class="button" value="Continue">
  </div>

</form>
    

      
      


    


</main><!-- / #page-container -->
{{/content}}

{{$bodyEnd}}
  {{>includes/elements_scripts}}
{{/bodyEnd}}

{{/govuk_template}}
