  {{<govuk_template}}

{{$head}}
  {{>includes/elements_head}}

    <script type="text/javascript" src="/public/javascripts/jquery-1.11.0.min.js"></script>

    <script type="text/javascript" src="/public/javascripts/application.js"></script>

    <script type="text/javascript" src="/public/javascripts/selection-buttons.js"></script>


{{/head}}


{{$propositionHeader}}
  {{>includes/govuk_evlprop}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}


{{$content}}

<link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />


<main id="content" role="main" style="padding-bottom:0">


  <!-- <h1 class="form-title heading-xlarge">
    Taxing a vehicle
  </h1> -->


  <!--<div>
  <a class="back-to-previous" href="javascript:history.back()">Back <span class="visuallyhidden"> to the previous question</span></a>
  </div>

  <br clear="all">-->





  <form action="evl-3-flow" method="get" class="form">
  <input type="hidden" name="nextlink" value="evl-end-dd">
  <input type="hidden" name="nextbacklink" value="evl-pay-card">
  <input type="hidden" name="regmark" value="{{defaultreg}}">



    <!--<h2 class="heading-medium" style="padding:0;margin:1.4em 0 1em 0">Payment complete, vehicle taxed</h2> --> 

    <div class="body-container group">

    

    <div class="application-confirmation" xmlns:utils="urn:utils" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" style="margin-top:2em">
      <h1>✔ Transaction complete</h1>
      <h2>Your reference:
      <strong>4982-1637-7958-4457</strong></h2>
    </div>





    </div>


    <div class="grid-row">
      <div class="column-two-thirds">


      <p style="margin-top:1em">
      <strong>You may now drive your vehicle – you don't need to wait for the first payment to be taken.</strong>
      </p>

        <table style="font-size:100%">
          <thead>
            <tr>
              <th style="font-size:100%">Item</th>
              <th style="font-size:100%">Price</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td style="font-size:100%" valign="top">
              <p><b>First monthly direct debit</b> for vehicle registration <b>{{defaultreg}}</b><br>
              Valid from <b>{{today}}</b><br>
              Last 4 digits of bank account: <b>****3242</b></p>
              </td>

              <td style="font-size:100%" valign="top"><p>£9.74</p></td>
            </tr>



            <tr>
              <td style="font-size:100%" valign="top">
              <p>Additional 11 payments, monthly<br>
              On the first of each month</p>
              </td>

              <td style="font-size:100%" valign="top"><p>£9.66 x 11</p></td>
            </tr>



            
            <tr>
              <td style="font-size:100%">Total</td>
              <td style="font-size:100%">£116.00</td>
            </tr>
          </tbody>
        </table>
        
      
    <!-- <p style="margin-top:1em">
    The full payment schedule will be sent to your email address within 3 working days. Please check your junk or spam folders if you have not received it.
    </p> 

    <p>Your vehicle tax will automatically renew, and we will stop your direct debits if you no longer need to pay it, eg. you sell your car.</p>

    <p style="margin-top:2em">
    The law has changed, you do not need to display a tax disc, therefore we will not issue one to you.
    </p> -->

    <p style="margin-top:2em">
    You may want to <a href="#">print this page for your records</a> and we have emailed it to you.
    </p>


      </div>
    </div>



 




  <!-- Primary buttons, secondary links -->
  <div class="form-group" style="padding:1em 0">
    <input type="submit" class="button" value="Finished">

    <!--<p style="padding:1em 0"><a href="start">Cancel application</a>-->

    




  </div>

</form>

</main><!-- / #page-container -->
{{/content}}

{{$bodyEnd}}
  {{>includes/elements_scripts}}
{{/bodyEnd}}

{{/govuk_template}}
