{{<govuk_template}}

{{$head}}
  {{>includes/elements_head}}


	<script type="text/javascript" src="/public/javascripts/selection-buttons.js"></script>

	<script type="text/javascript" src="/public/javascripts/jquery-1.11.0.min.js"></script>

	<script type="text/javascript" src="/public/javascripts/application.js"></script>

	<script type="text/javascript" src="/public/javascripts/postcodes.min.js"></script>


 {{/head}}

{{$content}}

<link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />

<link href="/public/stylesheets/numberplate.css" media="screen" rel="stylesheet" type="text/css" />



<main id="content" role="main" style="padding-bottom:0">




	<div>
	<a class="back-to-previous" href="javascript:history.back()">Back <span class="visuallyhidden"> to the previous question</span></a>
	</div>

	<br clear="all">
		
	
	<h2 class="heading-medium" style="padding:0;margin:0 0 1em 0">
	Direct Debit summary
	</h2>

	<form action="evl-3-flow" method="get" class="form">
	  <input type="hidden" name="nextlink" value="evl-paydd-complete">
	  <input type="hidden" name="nextbacklink" value="evl-paydd-summary">
      <input type="hidden" name="regmark" value="{{defaultreg}}">





<!--A summary of what your payments will be-->


<ul class="ul-data">
	<li><span style="width:32%">Total £116.00 payable for vehicle </span><i class="reg-mark" style="font-size:120%">{{defaultreg}}</i></li>
	<li><span style="width:32%">First payment of £9.74 </span><strong>17 April 2017</strong></li>
	<li><span style="width:32%">11 monthly payments of £9.66 </span><strong>1st of each subsequent month</strong></li>

</ul>
	
		



		<div class="form-group" style="margin-top:0">
			<input type="submit" class="button" value="Confirm payments">
        </div>




	</form>

                

   
 </main><!-- / #page-container -->
{{/content}}

{{$bodyEnd}}
  {{>includes/elements_scripts}}
{{/bodyEnd}}

{{/govuk_template}}
