{{<govuk_template}}

{{$head}}
  {{>includes/elements_head}}

    <script type="text/javascript" src="/public/javascripts/jquery-1.11.0.min.js"></script>

    <script type="text/javascript" src="/public/javascripts/application.js"></script>

    <script type="text/javascript" src="/public/javascripts/selection-buttons.js"></script>

    <link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />

    <!-- add this stylesheet for a numberplate font -->
    <link href="/public/stylesheets/numberplate.css" media="screen" rel="stylesheet" type="text/css" />



{{/head}}


{{$propositionHeader}}
  {{>includes/govuk_evlprop}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}


{{$content}}






<main id="content" role="main" style="padding-bottom:0">


  

  <div>
    <a class="back-to-previous" href="javascript:history.back()">Back 
    <span class="visuallyhidden"> to the previous question</span></a>
  </div>

  <br clear="all">




  <form action="evl-3-flow" method="get" class="form">

    <input type="hidden" name="nextlink" value="basic-3-prog">



    <h2 class="heading-medium" style="padding:0;margin:0 0 1em 0">You have chosen monthly direct debit <!--&amp; optional receipt--></h2>


    
    <ul class="ul-data">

      <li><span>V11 reference </span><strong>{{v11}}</strong></li>

      <li><span>Start date </span><strong>24 July 2015</strong></li>

      <li><span>Duration </span><strong>Paying each month</strong></li>

      <li style="margin-bottom:8px"><span class="reg-mark-parent">Registration number </span>
      <i class="reg-mark" style="font-size:120%">CU57&nbsp;ABC</i></li>

      <li><span>Vehicle make </span><strong>TOYOTA</strong></li>

      <li><span>Monthly debit </span><strong>£20.13 (approximately)</strong></li>

      <li><span>Total over 12 months </span><strong>£241.50</strong></li>

      <li><span>Payment method </span><strong>Direct Debit from bank account</strong></li>

    </ul>




    <!-- one green action button, other functions as secondary links -->
    <div class="form-group" style="padding:1em 0 0 0">
      <input type="submit" class="button" value="Continue">

      <p style="padding:1em 0"><a href="start">Cancel application</a>

    </div>


    <p style="max-width:640px;margin: 0 0 2.5em 0">
    <!-- Use a style to stop this longer line leading across the whole width of the page,
         it makes things harder to read: short lines are easier -->
    Read more about <a rel="external" href="https://www.gov.uk/vehicle-tax-direct-debit" target="blank">using Direct Debit to pay your vehicle tax</a>, which explains renewals, refunds and cancellations.
    </p>



  </form><!-- end of the form -->


</main><!-- end content container -->




{{/content}}

{{$bodyEnd}}
  {{>includes/elements_scripts}}
{{/bodyEnd}}

{{/govuk_template}}
