{{<govuk_template}}

{{$head}}
  {{>includes/elements_head}}

    <script type="text/javascript" src="/public/javascripts/jquery-1.11.0.min.js"></script>

    <script type="text/javascript" src="/public/javascripts/application.js"></script>

    <!-- add this javascript to make the radio/checkbox buttons work correctly -->
    <script type="text/javascript" src="/public/javascripts/selection-buttons.js"></script>

    <link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />


{{/head}}


{{$propositionHeader}}
  {{>includes/govuk_evlprop}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}


{{$content}}




<!-- this is a container for the page contents -->
<main id="content" role="main">


  
  <div>
  <!-- the back link uses a simple javascript to go to previous page -->
  <a class="back-to-previous" href="javascript:history.back()">
  Back 
  <!-- the rest of this label is hidden, only used for screenreaders -->
  <span class="visuallyhidden"> to the previous question</span>
  </a>
  </div>



  <br clear="all">

  


  <form action="basic-branch" method="get" class="form">
  <!-- This form action runs a simple script that goes to one or another page,
       the name of which is based on the hidden name below + the values from the input buttons in the form.
  -->
    <input type="hidden" name="nextlink" value="payment">
    <input type="hidden" name="v11" value="{{v11}}">



    <h1 class="form-title heading-large" style="margin:0 0 1em 0;padding:0">
      which special controls have been fitted to your car?
    </h1>

    <p>Tick all that are appropriate</p>

    

    <label for="check-inline-1" class="block-label" style="padding:0.9em 11em 0.6em 50px;margin:0.8em 0 0 0;">

      <input id="check-inline-1" type="checkbox" name="mod" value="combi">
      Combined braking and acceleration systems

              <br clear="all">


      <div style="width:100%"><details style="margin-top:-1.3em;text-align:right;margin-right:-11em">
        <summary role="button" aria-controls="details-content-0" tabindex="0" aria-expanded="true">
          <span class="summary">Show examples</span> &nbsp; &nbsp;
        </summary>
        
            <div style="background-color:white;padding:1em 3.6em 0.2em 2.6em;margin:0 0 -0.55em -2.6em">
            <ul class="list-bullet" style="text-align:left">
              <li>Fold away accelerator and brake pedals</li>
              <li>Parallel pedals</li>
              <li>Pedals at (or almost at) the same level</li>
              <li>Manual accelerator and brake with sliding</li>
              <li>Raised floor</li>
              <li>Partitioning on the side of the brake pedal</li>
              <li>Partitioning in front of the accelerator and brake pedals</li>
            </ul>
            </div>

    </details></div>

    </label>




    



    
    <label for="check-inline-2" class="block-label" style="padding-left:50px;margin-bottom:0">

      <input id="check-inline-2" type="checkbox" name="mod" value="accel">
      Accelerator systems
    </label>





    <label for="check-inline-3" class="block-label" style="padding-left:50px;margin-bottom:0">

      <input id="check-inline-3" type="checkbox" name="mod" value="rear">
      Rear view mirror
    </label>






    <label for="check-inline-4" class="block-label" style="padding-left:50px;margin-bottom:0">

      <input id="check-inline-4" type="checkbox" name="mod" value="brake">
      Braking system
    </label>







    <!-- one green action button per page -->
    <div class="form-group" style="padding-top:2.2em">

      <input type="submit" class="button" value="Continue">

    </div>





  </form><!-- end of the form -->


</main><!-- end content container -->




{{/content}}

{{$bodyEnd}}
  {{>includes/elements_scripts}}
{{/bodyEnd}}

{{/govuk_template}}
