{{<govuk_template}}

{{$head}}
  {{>includes/elements_head}}

    <script type="text/javascript" src="/public/javascripts/jquery-1.11.0.min.js"></script>

    <script type="text/javascript" src="/public/javascripts/application.js"></script>

    <script type="text/javascript" src="/public/javascripts/selection-buttons.js"></script>




{{/head}}


{{$propositionHeader}}
  {{>includes/govuk_evlprop}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}


{{$content}}

<link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />


<main id="content" role="main" style="padding-bottom:0">


  <!-- <h1 class="form-title heading-xlarge">
    Taxing a vehicle
  </h1> -->


  <div>
  <a class="back-to-previous" href="javascript:history.back()">Back <span class="visuallyhidden"> to the previous question</span></a>
  </div>

  <br clear="all">




  <form action="evl-11-renewal-three" method="get" class="form">

  <input type="hidden" name="nextbacklink" value="evl-renewal-period">
  <input type="hidden" name="regmark" value="{{defaultreg}}">
  <input type="hidden" name="kind" value="{{kind}}">




    <h2 class="heading-medium" style="padding:0;margin:0 0 1em 0">Choose how to pay</h2>

    <p>You can pay by card or set up a direct debit.</p>



    <div class="form-group form-group-compound">

    

    <div style="max-width:620px">

        <p>Direct Debit payments will be taken on the 1st of the month.
        Your first payment date may be different. These dates cannot be changed.
        </p>

        <p>We will renew your Direct Debit unless you let us know of any changes, for example, tell us you have sold the vehicle. We will then cancel your Direct Debit.</p>

    </div>



    <label for="radio-inline-1" class="block-label">
    <input id="radio-inline-1" type="radio"  name="paynum" value="3">
    <strong>Monthly Direct Debit payments</strong> (approximately <strong>£20.13</strong> each month) totalling <strong>£241.50</strong> per year
    </label>

   


    <label for="radio-inline-4" class="block-label">
    <input id="radio-inline-4" type="radio"  name="paynum" value="1">
    <Strong>6 months by card:</strong> One payment of <strong>£126.50</strong>
    </label>

  


    <label for="radio-inline-6" class="block-label">
    <input id="radio-inline-6" type="radio"  name="paynum" value="2">
    <strong>12 months by card:</strong> One payment of <strong>£230.00</strong>
    </label>


  </div>



  </fieldset>


    
    


    <br clear="all">









    <div style="padding-top:0.3em"><details style="" >
        <summary role="button" aria-controls="details-content-0" tabindex="0" aria-expanded="true" style="padding-top:0.7em">
          <span class="summary">I want to use Direct Debit, but pay at 6 or 12 month intervals</span>
        </summary>
        
        <div class="panel-indent js-hidden" id="details-content-0" aria-hidden="false" style="display:block;padding:0 20px;margin:12px 0">


            <label for="radio-inline-3" class="block-label">
            <input id="radio-inline-3" type="radio"  name="paynum" value="4">
            By Direct Debit: Repeating payments, once every 6 months of <strong>£120.75</strong> (that's £241.50 per year)
            </label>


            <label for="radio-inline-5" class="block-label">
            <input id="radio-inline-5" type="radio"  name="paynum" value="5">
            By Direct Debit: Repeating payments, once every 12 months of <strong>£230.00</strong>
            </label>


        </div>
      </details></div>


      </div>




      <p style="margin-top:1em">
      <a rel="external" href="https://www.gov.uk/government/publications/rates-of-vehicle-tax-v149" target="_blank">Comparison tables for rates of vehicle tax (V149)</a>
      </p>



  <!-- Primary buttons, secondary links -->
  <div class="form-group" style="padding:1em 0">
    <input type="submit" class="button" value="Continue">

    <p style="padding:1em 0"><a href="start">Cancel application</a>


    
   


  </div>

</form>

</main><!-- / #page-container -->
{{/content}}

{{$bodyEnd}}
  {{>includes/elements_scripts}}
{{/bodyEnd}}

{{/govuk_template}}
