{{<govuk_template}}

{{$head}}
  {{>includes/elements_head}}

    <script type="text/javascript" src="/public/javascripts/jquery-1.11.0.min.js"></script>

    <script type="text/javascript" src="/public/javascripts/application.js"></script>

    <script type="text/javascript" src="/public/javascripts/selection-buttons.js"></script>



{{/head}}

{{$content}}

<link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />


<main id="content" role="main">


  <h1 class="form-title heading-xlarge">
    Taxing a vehicle
  </h1>



  <div id="steps" style="display:none">

    <nav class="progress-indicator group" role="navigation">
          <ol id="MainContent_olTax" class="veh-breadcrumb">
              <li id="MainContent_liReferenceNumberStep" class="active">
                  Your vehicle
              </li>
              <li id="MainContent_liConfirmVehicle">
                  Vehicle details
              </li>
              <li id="MainContent_liVedPicker">
                  Renewal period
              </li>
              <li id="MainContent_liVEDConfirmation">
                  Renewal period check
              </li>
              <li id="MainContent_liPayment">
                  Pay
              </li>
              <li id="MainContent_liConfirmation">
                  Done
              </li>
          </ol>
      </nav>

  </div>


  <form action="evl-7-flow" method="get" class="form">
  <input type="hidden" name="nextlink" value="evl-vehicle-details">
  <input type="hidden" name="nextbacklink" value="evl-0">




  <!-- Ref number select -->
  <div class="form-group form-group-compound" style="padding-top:2em">

  <label for="radio-inline-1" class="block-label" data-target="renew" style="padding-left:30px;margin-bottom:2em;width:50%">
  <input id="radio-inline-1" type="radio"  name="reftype" value="v11" style="display:none;">
  <h2 class="heading-medium" style="margin:0 0 0 0">Renew tax on a vehicle</h2>
  

  <br clear="all">

  <img src="/public/images/v11-diagram.png" width="168" height="97" align="middle" style="padding-top:0.5em;padding-right:1em">

  <p style="padding:1em 0 0 0;margin:0">
  Using the 16 digit number from your V11 reminder letter
  </p>

  
  </label>




  <!-- p style="color:grey;width:60%;padding-bottom:2em">Use this option if you have taxed this vehicle before, and have either a V11 reminder letter in your name, or the V5C registration certificate (red log book) in your name.</p -->



  <br clear="all">



  <label for="radio-inline-2" class="block-label" style="padding-left:30px;width:50%">
  <input id="radio-inline-2" type="radio" name="reftype" value="v5c2" style="display:none;">
  <h2 class="heading-medium" style="margin:0 0 0 0">Tax a vehicle for the first time</h2>

 
  <p style="padding:1em 0 0 0;margin:0">
  Only use this option if you have very recently bought your vehicle, and have no documents with your name on.</p>

  </label>


  <br clear="all">


    
  </div>

  


  </fieldset>



  <!-- Primary buttons, secondary links -->
  <div class="form-group" style="padding-top:1em">
    <input type="submit" class="button" value="Continue">
    

  </div>


  <p><a href="evl-7-other">I am renewing vehicle tax but don't have any documents in my name</a>

</form>

</main><!-- / #page-container -->
{{/content}}

{{$bodyEnd}}
  {{>includes/elements_scripts}}
{{/bodyEnd}}

{{/govuk_template}}
