{{<layout}}

{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}

<main id="content" role="main">


	<h2 class="heading-large">EVL reference number variations</h2>

	<ul class="list-bullet">
		<li>
			<a href="/examples/elements/evl-0">Radio button chooser</a><br />
			This option lets users pick one, and enter the number for that reference number type.
		</li>
		<li>
			<a href="/examples/elements/evl-1">Radio button chooser, fixed bottom field position</a><br />
			Instead of the field and the 'where to find' element moving around under each radio button, this option always reveals the field at the bottom of the list of radio buttons.
		</li>
		<li>
			<a href="/examples/elements/evl-2">Radio button chooser, default open for V11</a><br />
			This is the same as the first, but the default state has the V11 option selected, and the field for entering that visible.
		</li>
		<li>
			<a href="/examples/elements/evl-3">2 step process: select first, then enter ref number</a><br />
			This splits out the choosing the reference number type and entering it into two separate pages/steps.
		</li>

		<li>
			<a href="/examples/elements/evl-4">Form images: select first, then enter ref number</a><br />
			This one uses the example images of each form, shown in three columns - the V11 (preferred) had the green continue button, the other two use a text link.
		</li>
	</ul>




	<h2 class="heading-medium" style="padding-top:2em">To do</h2>

	<ul class="list-bullet">
		<li>
			Worth testing automatically putting the field revealed by the radio button into focus (gold border, user can type immediately)
		</li>
		<li>
			Trying a three column (vertical split) to the three options to display the diagram as standard rather than hidden
		</li>
	</ul>





	<h2 class="heading-medium">Resources</h2>

	<ul class="list-bullet">
		<li>
			<a href="https://github.com/alphagov/govuk_prototype_kit/wiki">
				GOV.UK kit documentation
			</a>
		</li>
		<li>
			<a href="http://govuk-elements.herokuapp.com/snippets/">
				Guide to GOV.UK elements HTML
			</a>
		</li>
		<li>
			<a href="https://www.gov.uk/service-manual">
				Service design manual
			</a>
		</li>
		<li>
			<a href="https://www.gov.uk/design-principles">
				Government Digital Service Design Principles
			</a>
		</li>
	</ul>

</main>

{{/content}}

{{/layout}}
