{{<layout}}

{{$pageTitle}}
	DVLA Design Kit
{{/pageTitle}}

{{$content}}

<main id="content" role="main">


	<h2 class="heading-large">EVL reference number variations</h2>

	<p><strong>What:</strong> Trying to reduce the error rate, and subsequent case work to fix, of users confused by and entering the incorrect reference number when trying to tax their vehicle.</p>

	<p><strong>How:</strong> Looking at alternative methods to direct the user to find and enter a correct reference number, with only genuinely *new* new keepers using the V2C/2 supplement.</p>

	<h3 class="heading-medium">New ones</h3>

	<ol class="list-number">

		<li>
			<a href="/examples/elements/start">Start page</a><br />
			Current start page, runs directly into ...
		</li>
		

		<li><a href="/examples/elements/evl-11">Guide pictures, each step</a><br />
		Changed question to specific actions (taxed before or just bought) and each step has document pictogram. More risky actions escalate warning strength to avert misuse.
		</li>

		<li><a href="/examples/elements/evl-11-warning">Added 'warning letter' option off first page</a><br />
		Added this to direct users coming from a letter sent for untaxed new keepers to a more easily used V5C doc ref.
		</li>

		<li><a href="/examples/elements/evl-renewal-period-minimal">Two payment options</a><br />
		Discussion starter - would the reduction in payment options, and the equalising of cost provide enough benefit of reduced customer support to warrent the effort to introduce.
		</li>

		<li><a href="/examples/elements/evl-renewal-period-picto">Three payment periods</a><br />
		After testing of the two payment methods as the first question, which did not result in easier comprehension, this is a different route. User picks the renewal period 1, 6 or 12 months and then chooses how to pay. Needs testing!
		</li>

	</ol>



	<h3 class="heading-medium">Older ones</h3>




	<ul class="list-bullet">
		<li>
			<a href="/examples/elements/start">Start page</a><br />
			Minor copy changes, aligning naming of possible forms user may have with naming elsewhere, added "!" warning about using documents with your name on.
		</li>
	</ul>


	<ol class="list-number">
		

		<li>
			<a href="/examples/elements/evl-asis">EVL, as-is first page</a><br />
			Close to the current EVL page, with slightly corrected text to match the alternate designs below
		</li>

		<li>
			<a href="/examples/elements/evl-0">Radio button chooser</a><br />
			This option lets users pick one, and enter the number for that reference number type.
		</li>
		<li>
			<a href="/examples/elements/evl-1">Radio button chooser, fixed bottom field position</a><br />
			Instead of the field and the 'where to find' element moving around under each radio button, this option always reveals the field at the bottom of the list of radio buttons.
		</li>
		<li>
			<a href="/examples/elements/evl-2">Radio button chooser, default open for V11</a><br />
			This is the same as the first, but the default state has the V11 option selected, and the field for entering that visible.
		</li>
		<li>
			<a href="/examples/elements/evl-3">2 step process: select first, then enter ref number</a><br />
			This splits out the choosing the reference number type and entering it into two separate pages/steps.
		</li>

		<li>
			<a href="/examples/elements/evl-3b">2 step process: select first, then enter ref number + expanded single help section</a><br />
			This has an expanded, single 'Where to find...' expanding section, rather than one for each, and is before the following screen where the number is entered.
		</li>

		<li>
			<a href="/examples/elements/evl-4">Form images: select first, then enter ref number</a><br />
			This one uses the example images of each form, shown in three columns - the V11 (preferred) had the green continue button, the other two use a text link.
		</li>

		<li>
			<a href="/examples/elements/evl-5">Form images: select first, then enter ref number</a><br />
			Variation, with the illustration + the radio button in rows.
		</li>

		<li>
			<a href="/examples/elements/evl-5a">Form images: select first, then enter ref number</a><br />
			Slight size difference, fits the button label on one line
		</li>
		<li>
			<a href="/examples/elements/evl-6">Form images: includes the image inside the large radio button area.</a><br />
			Big and chunky buttons to hit
		</li>
	</ol>


	<h2 class="heading-medium" style="padding-top:2em">Rest of EVL flow...</h2>

	<ol class="list-number">
		<li>
			<a href="/examples/elements/evl-vehicle-details">Vehicle details</a><br />
			Show regmark, vehicle make, class, status page 
		</li>

		<li>
			<a href="/examples/elements/evl-renewal-period">Renewal period</a><br />
			User chooses between 6/12 month and Direct Debit annual, 6 or monthly
		</li>

		<li>
			<a href="/examples/elements/evl-renewal-period-check">Renewal period check</a><br />
			Confirm vehicle, payment, period + add email or mobile for receipt 
		</li>

		<li>
			<a href="/examples/elements/evl-pay-card">Pay (cards)</a><br />
			Payment form for cards 
		</li>



	</ol>





	<h2 class="heading-medium" style="padding-top:2em">To do</h2>

	<ul class="list-bullet">
		<li>
			Mocking up additional pages in flow: vehicle details, 6/12 months picker, pay...
		</li>
		<li>
			Automatically putting the field revealed by the radio button into focus (gold border, user can type immediately)
		</li>
		<li>
			<s>Trying a three column (vertical split) to the three options to display the diagram as standard rather than hidden</s>
		</li>
	</ul>





	<h2 class="heading-medium">Resources</h2>

	<ul class="list-bullet">
		<li>
			<a href="https://github.com/alphagov/govuk_prototype_kit/wiki">
				GOV.UK kit documentation
			</a>
		</li>
		<li>
			<a href="http://govuk-elements.herokuapp.com/snippets/">
				Guide to GOV.UK elements HTML
			</a>
		</li>
		<li>
			<a href="https://www.gov.uk/service-manual">
				Service design manual
			</a>
		</li>
		<li>
			<a href="https://www.gov.uk/design-principles">
				Government Digital Service Design Principles
			</a>
		</li>
	</ul>

</main>

{{/content}}

{{/layout}}
