{{<layout}}

{{$pageTitle}}
	DVLA Design Kit
{{/pageTitle}}

{{$content}}

<main id="content" role="main">
	<form action="examples/elements/start" method="get" class="get-started" style="margin-top:1.5em">
	<!--<input type="hidden" name="nextlink" value="start">
	<input type="hidden" name="nextbacklink" value="start">-->

	<h2 class="heading-medium">Reminder letter</h2>

	<p>Please use the details on this letter to test the service</p>


	<p><a href="/public/images/test-v11-big.jpg" target="_new"><img src="/public/images/test-v11.jpg" height="843" width="600"></a></p>

	<p>(Click for a larger version, opens in a new window)</p>

	<p><a href="start">Go to the start page</a></p>



	<h2 class="heading-medium">Credit card</h2>

	<p>Please use the credit card details below to test the payment</p>

	<p><img src="/public/images/test-creditcard.jpg" width="940" height="333"></p>


	<h2 class="heading-medium">Bank details</h2>

	<p>Please use these bank details to test the direct debit function</p>

	<ul class="ul-data">

      <li><span>Name</span><strong> John Smith</strong></li>
      <li><span>Address</span><strong> 7 Northgate, Blackpool, Lancs, FY2 9NL</strong></li>
      <li><span>Email</span><strong> Johnsmith23@gmail.com</strong></li>
      <li><span>Sort code</span><strong> 20 33 87</strong></li>
      <li><span>Account number</span><strong> 00234567</strong></li>
      
	</ul>


	

</main>

{{/content}}

{{/layout}}
